<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889188494167-um14gi8dkc60c2mk5lg7fogaht28nsgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889188494167-um14gi8dkc60c2mk5lg7fogaht28nsgd</string>
	<key>API_KEY</key>
	<string>AIzaSyCI527k1FYH8_r6gmzei8lMlFjW5cowcss</string>
	<key>GCM_SENDER_ID</key>
	<string>889188494167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.votingSystem</string>
	<key>PROJECT_ID</key>
	<string>pakistan-voting-system</string>
	<key>STORAGE_BUCKET</key>
	<string>pakistan-voting-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889188494167:ios:c189cc5ad72db7d5d02c12</string>
</dict>
</plist>